/* .blue-with-border
{
    border-style: dashed;
    background-color: blue;
    color: white;
} */
.second-paragrph
{
    background-color: red;
    color: yellow;
}

p:nth-of-type(2)
{
    background-color: blue;
}

p + ul{
    background-color: green;
}

ul li{
    background-color: gray
}